
</div>

</div>


<!-- SCROLL TO TOP
================================================== -->
<a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

<script src="./assets/js/my.js"></script>


<!-- jQuery -->
<script src="./admin/plugins/jquery/jquery.min.js"></script>

<!-- popper -->
<script src="./admin/plugins/popper/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="./admin/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- slimscroll -->
<script src="./admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<!-- uniform -->
<script src="./admin/plugins/uniform/js/jquery.uniform.standalone.js"></script>

<!-- switchery -->
<script src="./admin/plugins/switchery/switchery.min.js"></script>

<!-- apex chart -->
<script src="./admin/plugins/apexcharts/apexcharts.js"></script>

<!-- chart js -->
<script src="./admin/js/pages/chart.js"></script>

<!-- theme core scripts -->
<script src="./admin/js/main.js"></script>

<!-- all js include end -->
</body>

</html>