<style>
    body {
        background: url('https://images.unsplash.com/photo-1420496368970-d83b063b5b48?fit=crop&fm=jpg&h=700&q=80&w=1225') no-repeat center center; 
         background-size: 1400px 1700px; 
        background-position: 30%;
         background-attachment: fixed; 
        height: 100%;

    }
    body.animsition{
      height: 1000px;
      width: 100%;
    }
    .text {
        font-family: raleway;
        font-size: 40px;
        position: absolute center;
        text-align: center;
        padding-left: 0%;
        color: #000;
        margin-top: 43px;
    }
    .text1 {
        font-family: raleway;
        font-size: 21px;
        text-align: center;
        margin-top: -20px;
        color: #000;
    }
    .image {
        text-align: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #eee;
        background-size: cover;
        margin: auto;
        margin-top: 20px;
        margin-bottom: -30px;
    }
    .image:hover {
        box-shadow: 0px 5px 20px .9px #3F3F3F;
        transform: scale(1.12);
        transition: 1.6s ease-in-out;
    }
    .trick {
        display: inline-block;
        vertical-align: middle;
        height: 150px;
    }
    .trick:hover img {
        transform: scale(1);
    }
    #overlay {
        border-radius: 50%;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 0 0 0 0;
        opacity: 1.0;
        transition: opacity 2.25s ease;
    }
  
    .accordion-item{
        width:350px;
        margin:auto;
        max-width:100%;
    } 
    .accordion-header{
        background-color:transparent !important;
    }
    .title{
        text-align: center;
        background-color:transparent;
        color:#000;
        font-family:lato;
        font-weight:300;
        font-size:15px;
        max-width:100%;
    }
    #accordion{
        background-color: transparent;
        z-index: -1;
        max-width:100%;

    }

.btn-outline {
color: inherit;
transition: all 1.4s;
background-color: transparent;
}
/* button CSS */
.title.btn.btn-danger.btn-outline.btn-lg:hover {
background-color: #dc3545;
color: #fff;
}

.btn-danger.btn-outline {
margin-top: 9px;
background-color: transparent;
color: #000;
border-color: #000;
padding:auto;
padding:10px 0px 10px 0px;
margin: 1px 5px 1px 0px;
width: 100%;
text-align:center;
font-family: raleway;
font-weight: 300;
max-width:100%;
}

</style>
 
<%- include('../layouts/userheader.ejs') %>

<div class="container " >
    <div class="box">
      <div id="overlay">
        <div class="image" style="background-image: url(https://bootdey.com/img/Content/avatar/avatar6.png);">
          
        </div>
        <ul class="text"> <h4>hey..<%= users.name %></h4></ul>
        
        <div class="accordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-butto btn btn-light w-100" type="button" >
                <div class="title btn btn-danger btn-outline btn-lg">
                    <a class="text-decoration-none" href="/userwallet">Wallet</a>
                </div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-butto btn btn-light w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="title btn btn-danger btn-outline btn-lg"><a class="text-decoration-none" href="/Myorders">Orders</a></div>
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-butto btn btn-light w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="title btn btn-danger btn-outline btn-lg"><a class="text-decoration-none" href="/address">Address</a></div>
              </button>
            </h2>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-butto btn btn-light w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="title btn btn-danger btn-outline btn-lg"><a class="text-decoration-none" href="/logout">Logout</a></div>
              </button>
            </h2>
          </div> 
        </div>
      </div>
    </div>
  </div>
<%- include('../layouts/userfooter.ejs') %> 
